[init]
	defaultBranch = master
[gitbutler]
	signCommits = true
	aiModelProvider = openai
[core]
	fsmonitor = false
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    lineNumbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
	pfwl = push --force-with-lease
[user]
	name = Edvard LUNDIN
	email = edvard.lundin@pm.me
  signingKey = ~/.ssh/edlundin_sk.pub
[commit]
	gpgsign = true
[tag]
  gpgsign = true
[gpg]
	format = ssh
[includeIf "gitdir:~/work/a/**"]
    path = ~/work/a/.gitconfig
[includeIf "gitdir:~/work/e/**"]
    path = ~/work/e/.gitconfig
