[includeIf "gitdir:~/work/a/**"]
    path = ~/work/a/.gitconfig
[includeIf "gitdir:~/work/e/**"]
    path = ~/work/e/.gitconfig
[init]
	defaultBranch = master
[gitbutler]
	signCommits = true
	aiModelProvider = anthropic
[core]
	fsmonitor = false
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    lineNumbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
	pfwl = push --force-with-lease
